<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Reports</title>

    <!-- Bootstrap Core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <!-- Custom CSS -->
    <link th:href="@{/css/simple-sidebar.css}" href="/css/simple-sidebar.css"  rel="stylesheet" type="text/css" />
	<style>
	//simple test
		#horizontalChartContainer{
			width: 100%;
    		float: left;
    		border: 1px solid blue
		}

		.reportElement{
			float: left;
    		margin-left: 10px;
		}
		
		.tooltip {
		   	background: #9999ff;        
        	box-shadow: 0 0 5px #999999;
        	color: #9999ff;
        	font-size: 12px;
        	left: 130px;
        	padding: 10px;
        	position: absolute;
        	text-align: center;
        	top: 95px;
        	width: 80px;
        	z-index: 10;
        	pointer-events:none
      }           
		
	</style>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                	<a href="/main">
                		<img src="/images/VintageCompass.png"
             				th:src="@{/images/VintageCompass.png}" height="80" width="80"/>
             		</a>
                </li>
                <li>
                	<form th:action="@{/logout}" method="post">
            			<input type="hidden" value="Sign Out"/>
        				<button type="submit" name="submit_param" value="submit_value" class="link-button">
        				Logout
  						</button>
        			</form>
                </li>
                <li>
                    <a href="/reports">Reports</a>
                </li>
                <li>
                    <a href="/vehicles">Vehicles</a>
                </li>
                <li>
                    <a href="/records">Records</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Reports page</h1>
        				<div class="form-group">
  								<label for="unitNumber" class="col-2 col-form-label">Start Date</label>
  								<div class="col-10">
    								<input class="form-control" id="startDate" name="startDate" placeholder="MM/DD/YYYY" type="text"/>
  								</div>
            				
    							<label>Ending Date</label>
    							<input class="form-control" id="endDate" name="endDate" placeholder="MM/DD/YYYY" type="text"/>
  						</div>
            				
            			<button type="submit" class="btn btn-primary" onclick="betweenTwoDatesAjax();">Submit</button>
        				<div id="horizontalChartContainer">
        				<table class="table table-bordered">
    						<thead>
      							<tr>
        							<th>Breakdown by State</th>
        							<th>Overall Mileage by Unit</th>
        							<th>Overall Fuel Purchased by Unit</th>
      							</tr>
    						</thead>
    						<tbody>
        						<tr>
        							<td>
        								<div id="basicReport" class="reportElement">
        								</div>
        							</td>
        							<td>
        								<div id="pieChartAllMiles" class="reportElement">
        								</div>
        							</td>
        							<td>
        								<div id="pieChartAllFuel"  class="reportElement">
        								</div>
        							</td>
        						</tr>
        					</tbody>
        				</table>
        				<table>
        						<tr>
        							<td>
        								Over Time
        						    </td>
        						</tr>
        						<tr>
        							<td>
        								<div id="multiLineChartOverTime" class="reportElement">
        								</div>
        							</td>
        						</tr>
        				</table>
        				</div>
        				<br></br>
        				
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		
		
		<label for="unitNumber">Unit number</label>
    	<select class="form-control" id="unitNumber" name="unitNumber">
    	<option th:each="vehicle : ${vehicleList}" th:value="${vehicle.unitNumber}" th:text="${vehicle.unitNumber}"></option>
    	</select>
		<div align="center">
			<input id="clickMe" type="button" value="clickme" onclick="allRecordsForOneUnitAjax();" />
        	${message}
        	<div id="result"></div>
        	<br></br>
    	</div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Include Date Range Picker -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<!-- load the d3.js library -->    
	<script src="/js/d3.min.js"></script>"
	<!-- ajax calls ect -->
	<script src="/js/util.js"></script>
	
<script>
    $(document).ready(function(){
      var date_input=$('input[name="startDate"]'); //our date input has the name "startDate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    });
    $(document).ready(
    function() {
    	var date_input=$('input[name="endDate"]'); //our date input has the name "startDate"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
          format: 'mm/dd/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        };
        date_input.datepicker(options);
      }	
    );
</script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>